body, html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
    text-decoration: none;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.filter{
    width: 100%;
    background: rgba(78, 78, 78, 0.92);
    height: 86%;
    display: none;
    padding:15px;
    border-bottom-right-radius: 5px;
    z-index: 200;
    position: absolute;
}
.labela{
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}
.text_filtera{
    background: #2d2d2d;
    padding: 2%;
    width: 30%;
    min-width: 250px;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.dugme{
    border: 1px solid #ed3030;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #fe4d4d;
    background-image: -webkit-linear-gradient(top,#fe4d4d,#ed4747);
    background-image: -moz-linear-gradient(top,#fe4d4d,#ed4747);
    background-image: -ms-linear-gradient(top,#fe4d4d,#ed4747);
    background-image: -o-linear-gradient(top,#fe4d4d,#ed4747);
    padding: 8px;
    border-radius: 3px;
}
.dugme:hover{
	background: #eb0e0e;
    background: #eb0e0e;
    -webkit-transition: background 500ms ease-out 1000ms linear;
    -ms-transition: background 500ms ease-out 1000ms linear;
    transition: background 500ms ease-out 1000ms linear;
	cursor: pointer;
}
.dugme2{
    border: 1px solid #3079ed;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    padding: 8px;
    border-radius: 3px;
}
.dugme2:hover{
	background: #0E62EB;
    background: #0E62EB;
    -webkit-transition: background 500ms ease-out 1000ms linear;
    -ms-transition: background 500ms ease-out 1000ms linear;
    transition: background 500ms ease-out 1000ms linear;
	cursor: pointer;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #178466;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: white;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .broj {
        display: none;
    }
    .slika_td{
        display:none;
    }
    .distance{
        display:none;   
    }
}
#display {
    width: 30%;
    height: 86%;
    float: left;
    padding: 0px 5px 0px 5px;
    background: #333333;
    overflow-y: scroll;
}
#display table{
    width: 100%;
    background: black;
    padding: 5px;
    border-radius: 5px;
}
#display table tr td img{
    border-radius: 5px;
}
td{
    border: 1px solid #a5a5a5;  
    color: white;
}
.opisi{
    text-align: center;
    color: white;
}
.opisi td{
    background:#22714e;
}
#display table tr{
    background-image: -webkit-linear-gradient(top,#797979,#585858);
    background-image: -moz-linear-gradient(top,#797979,#585858);
    background-image: -ms-linear-gradient(top,#797979,#585858);
    background-image: -o-linear-gradient(top,#797979,#585858);
}
#display table tr.hover_tr:hover{
    background: #3C3C3C;
    height: 130px;
    cursor: pointer;
    -webkit-transition: background 500ms ease-out;
    -ms-transition: background 500ms ease-out;
    transition: background 500ms ease-out;
}
.slika_td{
    width: 50px;
}
.broj{
    width:10px;
    text-align: center;
}
.distance{
    width: 70px;
    text-align: center;    
}
.opis_td{
    text-align: left;
    padding-left: 10px;
}
.opis_liste{
    margin-bottom: 10px;
}
.slika_iz_liste{
    width:80px; height:80px;
}
#map {
    width: 70%;
    float: left;
    height: 86%;
}
#initialization{
    background: rgba(78, 78, 78, 0.65);
    width: 100%;
    display:none;
    position: absolute;
    z-index: 999;
    height: 86%;
}
#about_page{
    background: rgba(78, 78, 78, 0.65);
    width: 100%;
    display:none;
    position: absolute;
    z-index: 100;
    height: 86%;
}
#details_page{
    background: rgba(78, 78, 78, 0.95);
    width: 100%;
    display:none;
    color: white;
    position: absolute;
    z-index: 100;
    height: 86%;
}
.ict_details{
    width: 20%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    min-height: 30px;
    text-align: center;
    background: #333333;
    color: white;
    border: 1px solid #232323;
}
.init_image{
    margin-left: 40%;
    margin-top: 10%;
}
.klasa_select{
    display: block;
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #d4d4d4;
    background-color: #2d2d2d;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mojfuter {
    bottom: 0;
    background: #333;
    width: 100%;
    height: 8%;
    min-height: 60px;
    color: white;
    padding: 5px 0 0 0;
    position: fixed;
}   
.about_site {
    color: rgb(132, 132, 132);
    float: right;
    padding-right: 2em;
    font-size: 13px;
}
p {
    margin: 0 0 10px;
}
input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92;
}
input[type=radio]:checked ~ .check::before{
    background: #0DFF92;
}
input[type=radio]:checked ~ label{
    color: #0DFF92;
}
.container{
    display: block;
    position: relative;
    margin: 10px auto;
    height: auto;
    width: 100%;
    padding: 20px;
}
.popup_container{
    padding: 10px;  
    color: black;
    border-radius: 5px; 
}
.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 90%;
    height: 70px;
    border-bottom: 1px solid #333;
}
ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
} 
ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.0em;
    padding: 18px 25px 25px 70px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
} 
ul li:hover label{
    color: #FFFFFF;
}
ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
ul li:hover .check {
    border: 5px solid #FFFFFF;
}
ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.text_filtera select option {
    padding:5px;
}
#slides{
    position: relative;
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
}
.slide{
    position: absolute;
    margin-top:20px;
    margin-left: 15%;
    border:5px solid #AEAEAE;
    width: 70%;
    height: 400px;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing{
    opacity: 1;
    z-index: 2;
}
.slide{
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: url(../images/scroll.png) repeat-y;
}
::-webkit-scrollbar-thumb {
    background-color: #0DFF92;
}
::selection {
    color: #33B59C;
    background: rgba(81, 224, 255, 0.10);
}