#msg {
    border:1px solid #333;
    background-color:#ccc;
    padding: 2em;
    word-wrap: break-word;
    width: 90%;
    margin-bottom: 2em;
}
#display {
    width: 90%;
    padding:2em;
    border: 1px solid #999;
}
#map {
    width: 90%;
    height: 500px;
}